{{template "header" .}}
<div class="card mb-3">
    <div class="card-header">
        <span class="h4">本一覧</span>
        <a href="/books/new" class="btn btn-primary float-right" >新規追加</a>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <form method="post" id="frmDelete">
                <thead>
                    <tr>
                        <th width="20%">タイトル</th>
                        <th width="10%">カテゴリ</th>
                        <th width="10%">ステータス</th>
                        <th width="45%">コメント</th>                                    
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .books}}
                        <tr>
                            <td width="20%">{{.Title}}</td>
                            <td width="10%">
                                {{if eq .Category 1}}
                                実用書
                                {{else if eq .Category 2}}
                                専門書
                                {{else if eq .Category 3}}
                                その他
                                {{end}}
                            </td>
                            <td width="10%">
                                {{if eq .Status 1}}
                                TOREAD
                                {{else if eq .Status 2}}
                                READING
                                {{else if eq .Status 3}}
                                DONE
                                {{end}}
                            </td>
                            <td width="45%">{{.Comment}}</td>
                            <td width="15%">
                                <a href="/books/edit/{{.ID}}" class="btn btn-light">編集</a>
                                <a href="javascript:void(0);" data-id="{{.ID}}" class="delete btn btn-warning">削除</a>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </form>
        </table>
    </div>
</div>
<script>
$(function(){
    $('.delete').on('click', function(){
        $('#frmDelete').attr('action', '/books/delete/' + $(this).data('id'))
        $('#frmDelete').submit()
    })
})
</script>
{{template "footer"}}